<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Pokemon</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<h1>Add a Pokemon</h1>
    <%- addPokemonForm %>
        <input type="text" name="search" value=<%- val %>>
        <input type="submit" value="Search">
    </form>
    <div><%- display %></div>
    <div><%- display1 %></div>
</body>

</html>
